<!DOCTYPE html>
<html>
<head>
     <!-- Latest compiled and minified CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- jQuery library -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/single.css">
    <!-- Latest compiled JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!--font aswome-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/search_box.css">
    <!--index.css-->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/script.js"></script>
    {% if request.resolver_match.url_name == 'single' %}
        {% for tour in tours %}
            <title>{{tour.title}}|Toursanak</title>
           
           
        {% endfor %}
    {% elif request.resolver_match.url_name == 'category'%}
        {% for cat in categories %}
            <title>{{cat.name}} | Toursanak</title>
            <meta name="description" content="{{cat.name}}">
            <meta name="keywords" content="{{cat.name}}">
            <meta name="author" content="toursanak">
        {% endfor %}
    {%else%}
        <title>Toursanak</title>
        <meta name="description" content="toursanak,tour,khmer,guide,visit,angkor,siemreab,Cambodia,">
        <meta name="keywords" content="toursanak,tour,khmer,guide,visit,angkor,siemreab,Cambodia,">
        <meta name="author" content="toursanak">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    {% endif %}
</head>
<body>
    <!--navbar-->
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <button style="border: none;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">
                <img class="img-responsive" src="../images/toursanaklogo.png" style="width: 150px; height: 40px;" alt="">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
             {% for category in categories %}
                <li ><a href="/cat/{{category.slug}}" style="font-weight: bold">{{category.name}}</a></li>
            {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <div class="search">
                    <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" />
                    <button type="submit" style="height: 30px;
                        position: absolute;
                        right: 0;
                        top: 5px;
                        border-radius:1px;"  class="btn btn-default btn-sm">
                        Search
                    </button>
                </div>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>