<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/static/images/logo.png">
     <!-- Latest compiled and minified CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- jQuery library -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/single.css">
    <!-- Latest compiled JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!--font aswome-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/search_box.css">
    <!--index.css-->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/script.js"></script>
    <meta name="author" content="toursanak.com">
    {% if request.resolver_match.url_name == 'single' %}
        {% for tour in tours %}
            <title>{{tour.title}}|Toursanak</title>
            <link rel="stylesheet" href="/static/css/single.css">
            <script type="text/javascript" src="/static/js/script.js"></script>
            <meta name="description" content="tour cambodia,Angkor wat,khmer visit, advanture,online tour,book tour,{{tour.short_description}}">
            <meta name="keywords" content="tour,cambodia,khmer,angkor,best tour in the world,book tour,tour ticket,happy visiting,{{tour.keywords}}">
        {% endfor %}
    {% elif request.resolver_match.url_name == 'category'%}
        {% for cat in categories %}
            <title>{{cat.name}} | Toursanak</title>
            <meta name="description" content="tour cambodia, Angkor wat, khmer visit, advanture,{{cat.name}}">
            <meta name="keywords" content="tour,cambodia,khmer,angkor,best tour in the world,happy visiting,{{cat.name}}">
        {% endfor %}
    {% elif request.resolver_match.url_name == 'contact'%}
        <title>Contact Tour</title>
        <meta name="description" content="contact tour,visit tour,cambodia,Khmer,Angkor,online booking tour,fly tour">
        <meta name="keywords" content="contact,toursanak,tour,khmer,guide,visit,angkor,siemreab,Cambodia,book tour,visiting,angkor wat,asean tour, best tour in the world">
    {% elif request.resolver_match.url_name == 'booking'%}  
         <title>Booking Tour</title>
        <meta name="description" content="booking tour,visit tour,cambodia,Khmer,Angkor,online booking tour,fly tour,Welcome to visit Cambodia">
        <meta name="keywords" content="contact,toursanak,tour,khmer,guide,visit,angkor,siemreab,Cambodia,book tour,Welcome to visit Cambodia,visiting,angkor wat,asean tour, best tour in the world,special tour in ASEAN">
    {% elif request.resolver_match.url_name == 'bookings'%}  
         <title>Booking List</title>
        <meta name="description" content="booking tour,visit tour,cambodia,Khmer,Angkor,online booking tour,fly tour,Welcome to visit Cambodia">
        <meta name="keywords" content="contact,toursanak,tour,khmer,guide,visit,angkor,siemreab,Cambodia,book tour,Welcome to visit Cambodia,visiting,angkor wat,asean tour, best tour in the world,special tour in ASEAN">
    {%else%}
        <title>Toursanak</title>
        <meta name="description" content="">
        <meta name="keywords" content="toursanak,tour,khmer,guide,visit,angkor,siemreab,Cambodia,book tour,visiting,angkor wat,asean tour, best tour in the world">
    {% endif %}
</head>
<body>
    <!--navbar-->
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default" role="navigation" style="border-radius:0px;" >
      <div class="container">
        <div class="navbar-header">
            <button style="border: none;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="color:green;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">
                <img class="img-responsive" src="/static/images/toursanaklogo.png" style="width: 150px; height: 48px;" alt="">
           </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
             {% for category in categories %}
                <li><a href="/cat/{{category.slug}}" style="font-weight: 500;color:black;">{{category.name}}</a></li>
            {% endfor %}
            {% if user.is_authenticated %}
                <li><a href="/bookings" style="font-weight: 500;color:black;">Booking List</a></li>
                <li><a href="/contacts" style="font-weight: 500;color:black;">Contact List</a></li>
            {%endif%}
            </ul>
            <ul class="nav navbar-nav navbar-right" style="border:none;">
                <form class="navbar-form" role="search" name="s" action="/search/">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." name="q">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  