
{% include "partials/header.html" %}
<!--start container-->
<script type="text/javascript">
    var html='';   
    var title='',description=''; 
    var arr_check=[];    
    var help=0;        
    var check=0;
</script>
<div class="banner1">
    <center style="color:white;line-height: 300%;">
        <label class="hidden-xs" style="color:white;font-family: font-family: 'PT Serif',serif;">
          We also accept Bitcoin
        </label>
        <a href="/contact">
            <button style="background: none;color: white;" class="btn btn-default"><i  class="fa fa-envelope-o" aria-hidden="true"></i>
               Contact
            </button>
        </a>
    </center>
</div>
<!--scroll menu top fix-->
<script type="text/javascript">
    $(window).scroll(function(){
        var banner1 = $('.banner1'),
                scroll = $(window).scrollTop();
        if (scroll >=40) banner1.addClass('myfix');
        else banner1.removeClass('myfix');
    });
</script>
<!--end scroll menu top-->
<div class="banner2" style='background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("/static/images/banner/about_banner.jpg");'>
    <center>
        <label class="boxbanner" >
            {{ tour.title }}
        </label>
        <br/>
        <label style="color: #d7d7d7;font-size:20px;font-family: 'PT Serif',serif;">
             {{tour.short_description}}
        </label>
    </center>
</div>
<div class="container">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
    		<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                <h2>About Toursanak</h2>
            </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
		<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
			<p class="description" style="font-size:15px;text-align:justify;">
				Toursanak is an adventure travel experience with operations based in Phnom Penh and expanding outward. Programs are designed to encourage youth and adults to step out of their comfort zones. We are all about self-exploration, self-determination, self-development, while fostering team spirit and a collaborative mindset. 
			</p>
            <p class="description" style="font-size:15px;text-align:justify;">
                We are an educational adventure company. We organize and customize trips for educational institutions and adventure lovers who want to explore hidden places and to learn about Cambodian culture. 
            </p>
            <p class="description" style="font-size:15px;text-align:justify;">
                Our programs are designed and planned to bring our participants up close and personal in Cambodia. Day trips include visits to villages and communities off the beaten path. We provide new and interesting ways to experience the authentic Cambodia that few other tourists have the opportunity to see. We offer leadership programs and team building, family trips, camping and cycling adventures, in a mutually supportive setting where learning and discovery is an exchange between visitors and hosts.
            </p>
            <p class="description" style="font-size:15px;text-align:justify;">
                Our current ambition is to serve in the field of leadership experience and educational adventure as specialists in Cambodia and neighboring countries such as Laos, Thailand, Vietnam, and Nepal.
            </p>
            <p class="description" style="font-size:15px;text-align:justify;">
                A portion of the profits from our business goes to support young Cambodian startups through our partner organization Smallworld. We feel it is important because we know our peers are beaming with ideas and inspiration and everyone deserves an opportunity to discover their dreams.
            </p>
            <h2>Key Facts</h2>
            <p class="description" style="font-size:15px;text-align:justify;">
               <b>Toursanak</b> was founded in December 2009 while Rithy Thul was cycling in Kep with Daniela Ruby Papi. Rithy was inspired by the program founded by his friend Daniela, and wanted to create his own adventure company that would also support Cambodian youth and culture. Rithy often led cycle trips for international groups and he wanted to provide something similar for Cambodiana as well that would promote a love of cycling and adventure while also educating participants about the culture and environment. The word Toursanakech in Khmer literally translates as “study tour.” His idea was to earn money from the international tours to provide similar opportunities for Cambodians.
            </p>
            <p class="description" style="font-size:15px;text-align:justify;">
                There were five trial trips organized by Toursanak prior to launching the tour company. In January 2013, Toursanak, finally publicly decide to run its own tours.

            </p>
            <p class="description" style="font-size:15px;text-align:justify;">
                
            </p>
            <h2>We are Inspired</h2>
            <li type="disc">
            <p class="description" style="font-size:15px;text-align:justify;">
                <b>Run the Dream</b> was a ten day solo 314 km  by Rithy to inspire and educate Cambodian youth about sports, physical challenges, and investing in a dream. The run began in Siem Reap on February 20th, 2012 and continued until March 2nd 2012 ending in Phnom Penh. This event helped raise media and attention toward Rithy’s goal to energise and inspire other young Cambodians and helped launch the tour company.
            </p>
            </li>
            <li type="disc">
            <p class="description" style="font-size:15px;text-align:justify;">
                <b>SmallWorld Cambodia</b> is a collaborative workplace designed to ensure that passionate, business minded youth have access to an enjoyable and productive work environment. It serves as an education, networking, and small business resource and support center where students and budding entrepreneurs can learn and network with others to discuss, test, and launch new business ideas. 
            </p>
            </li>
            <li type="disc">
            <p class="description" style="font-size:15px;text-align:justify;">
                <b>KhmerTalks</b>, Building Resources of Knowledge for Cambodia, builds online interactive educational video presentations in Khmer language to share knowledge and resources for the next generation.
            </p>
            </li>
            <li type="disc">
            <p class="description" style="font-size:15px;text-align:justify;">
                We also support an open source sharing and networking community known as <b>Khmer Young Entrepreneurs</b>. It is formed on the model of an open source computer software<b> Linux</b>’ combined with<b> TED</b>‘s philosophy “Ideas Worth Sharing.” 
            </p>
            </li>
            <li type="disc">
            <p class="description" style="font-size:15px;text-align:justify;">
                <b>The PEPY Ride</b> is an annual event by PEPY, an organization that is dedicated to increasing access of education to rural villages in Siem Reap. We love its model. Investing time in people.
 
            </p>
            </li>
            </div>
		  <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1" ></div>
	</div>
	<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
		<center><h2>About team</h2></center>
		<hr>
	</div>
	<!--profile student-->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style=" padding-right: 0px;
            padding-left: 0px; " >
		<div class='list-group gallery'>
            
           {% for student in students%}
            <div class='col-sm-4 col-xs-12 col-md-3 col-lg-3'>
                <a href="#" data-toggle="modal" data-target="#myProfile_{{student.id}}" class="thumbnail fancybox" rel="lightbox">
                    <img style="height:200px;width:100%;" class="img-responsive" alt="" src="/static/images/profiles/sela.jpg"/>
                </a>
            </div> 
           <div id="myProfile_{{student.id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                        <div class="fb-profile">
                            <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
                            <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example"/>
                            <div class="fb-profile-text">
                                <h1>Lead by: <b>{{student.name}}</b></h1>
                                <br/><br/>
                                <p style="font-size:15px;text-align:justify;">
                                    {{student.description}}
                                </p>
                            </div>
                        </div>
                  </div>
                </div>

              </div>
            </div>
            {% endfor %}


            
            

            

            

            <!-- <div class='col-sm-4 col-xs-12 col-md-3 col-lg-3'>
                <a class="thumbnail fancybox" rel="lightbox" href="http://placehold.it/300x320.png">
                    <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                    <div class='text-right'>
                        <small class='text-muted'>Image Title</small>
                    </div> 
                </a>
            </div>  -->
        </div> <!-- list-group / end -->
	</div>
	<!--end profile-->
	<!--pop up profile-->
		
	<!--end pop up profile-->
</div>
<div class="container">
	<!-- <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12" style=" padding-right: 0px;
            padding-left: 0px; " >
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<center>
					<ul class="pagination">
					    <li><a href="#">«</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">»</a></li>
					</ul>
				</center>
			</div>
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
	</div> -->
</div>
</body>
</html>
<script type="text/javascript">
	$(document).ready(function(){
    //FANCYBOX
    //https://github.com/fancyapps/fancyBox
    $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
});
   
</script>
<style type="text/css">
	.gallery
{
    display: inline-block;
    margin-top: 20px;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}


@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}
h2{
	font-family: 'Ubuntu',sans-serif;
    font-weight: 700;
    color: #0d579b;
    font-size: 160%;

}
p{
	    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 1.5em;
}
</style>