
{% include "partials/header.html" %}
<!--start container-->
<script type="text/javascript">
    var html='';   
    var title='',description=''; 
    var arr_check=[];    
    var help=0;        
    var check=0;
</script>
<div class="banner1">
    <center style="color:white;line-height: 300%;">
        <label class="hidden-xs" style="color:white;font-family: font-family: 'PT Serif',serif;">
          We also accept Bitcoin
        </label>
        <a href="/contact">
            <button style="background: none;color: white;" class="btn btn-default"><i  class="fa fa-envelope-o" aria-hidden="true"></i>
               Contact
            </button>
        </a>
    </center>
</div>
<!--scroll menu top fix-->
<script type="text/javascript">
    $(window).scroll(function(){
        var banner1 = $('.banner1'),
                scroll = $(window).scrollTop();
        if (scroll >=40) banner1.addClass('myfix');
        else banner1.removeClass('myfix');
    });
</script>
<!--end scroll menu top-->
<div class="container">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<center><h2>About us</h2></center>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<p class="description" style="font-size:15px;text-align:justify;">
				Sabay Digital Corporation is the leading digital media and entertainment group in Cambodia.

				Our diverse brands share a common mission: help our customers get the most out of the online revolution. With cutting-edge services, engaging content and leading online properties, we want Sabay (meaning “Happiness”) to always be associated with awesomeness.

				We strive to innovate in everything we do: online and mobile gaming, movies, infrastructure, content platforms and more. We are proud to have in our portfolio Sabay News, the most visited Khmer website.

				Cambodia is an exciting country with a dynamic youth community eager to play an active role in the digital era. Sabay Digital Corporation (formerly known as CIDC Information Technology) was formed in 2007 to help meet this demand, with new services and products including online content and mobile entertainment. Sabay is a forward thinking pioneer and has been the first to introduce online gaming, unified SMS content and original online entertainment (news, movies, music and TV) in the Kingdom of Wonder.

				Our vision is to be a source of inspiration for the youth of Cambodia in their pursuit of happiness and our mission is to make every interaction with Sabay an awesome experience.
			</p>
		</div>
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" ></div>
	</div>
	<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
		<center><h4>Our Structure</h4></center>
	</div>
	<!--profile student-->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style=" padding-right: 0px;
            padding-left: 0px; " >
		<div class='list-group gallery'>
            
            <div class='col-sm-4 col-xs-12 col-md-3 col-lg-3'>
                <a data-toggle="modal" data-target="#myProfile" class="thumbnail fancybox" rel="lightbox" href="http://placehold.it/300x320.png">
                    <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                  
                </a>
            </div> 
            <div class='col-sm-4 col-xs-12 col-md-3 col-lg-3'>
                <a data-toggle="modal" data-target="#myProfile" class="thumbnail fancybox" rel="lightbox" href="http://placehold.it/300x320.png">
                    <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                  
                </a>
            </div> 
            <div class='col-sm-4 col-xs-12 col-md-3 col-lg-3'>
                <a data-toggle="modal" data-target="#myProfile" class="thumbnail fancybox" rel="lightbox" href="http://placehold.it/300x320.png">
                    <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                  
                </a>
            </div> 
            <div class='col-sm-4 col-xs-12 col-md-3 col-lg-3'>
                <a data-toggle="modal" data-target="#myProfile" class="thumbnail fancybox" rel="lightbox" href="http://placehold.it/300x320.png">
                    <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                  
                </a>
            </div> 
            <div class='col-sm-4 col-xs-12 col-md-3 col-lg-3'>
                <a data-toggle="modal" data-target="#myProfile" class="thumbnail fancybox" rel="lightbox" href="http://placehold.it/300x320.png">
                    <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                  
                </a>
            </div> 
            <div class='col-sm-4 col-xs-12 col-md-3 col-lg-3'>
                <a data-toggle="modal" data-target="#myProfile" class="thumbnail fancybox" rel="lightbox" href="http://placehold.it/300x320.png">
                    <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                  
                </a>
            </div> 
            <div class='col-sm-4 col-xs-12 col-md-3 col-lg-3'>
                <a data-toggle="modal" data-target="#myProfile" class="thumbnail fancybox" rel="lightbox" href="http://placehold.it/300x320.png">
                    <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                  
                </a>
            </div> 
            <div class='col-sm-4 col-xs-12 col-md-3 col-lg-3'>
                <a data-toggle="modal" data-target="#myProfile" class="thumbnail fancybox" rel="lightbox" href="http://placehold.it/300x320.png">
                    <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                  
                </a>
            </div> 

            

            <!-- <div class='col-sm-4 col-xs-12 col-md-3 col-lg-3'>
                <a class="thumbnail fancybox" rel="lightbox" href="http://placehold.it/300x320.png">
                    <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                    <div class='text-right'>
                        <small class='text-muted'>Image Title</small>
                    </div> 
                </a>
            </div>  -->
        </div> <!-- list-group / end -->
	</div>
	<!--end profile-->
	<!--pop up profile-->
			<div id="myProfile" class="modal fade" role="dialog">
			  <div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>
			      <div class="modal-body">
			       	<!--profile-->
			       		<div class="fb-profile">
					        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
					        <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example"/>
					        <div class="fb-profile-text">
					            <h1>Eli Macy</h1>
					            <br/><br/>
					            <p style="font-size:15px;text-align:justify;">
					            	YesLearn and experience mangrove reforestation, and help protect the local river and environment. On top of that, we will be paddling to Rabbit Island. We will have time to swim and laze on a quiet beach. Enjoy fresh seafood before heading back to Phnom Penh.Learn and experience mangrove reforestation, and help protect the local river and environment. On top of that, we will be paddling to Rabbit Island. We will have time to swim and laze on a quiet beach. Enjoy fresh seafood before heading back to Phnom Penh.Learn and experience mangrove reforestation, and help protect the local river and environment. On top of that, we will be paddling to Rabbit Island. We will have time to swim and laze on a quiet beach. Enjoy fresh seafood before heading back to Phnom Penh. 
					            </p>
					        </div>
					    </div>
			       	<!--end profile-->
			      </div>
			    </div>

			  </div>
			</div>

	<!--end pop up profile-->
</div>
<div class="container">
	<div class="col-xs-12 col-md-12 col-lg-12 col-sm-12" style=" padding-right: 0px;
            padding-left: 0px; " >
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<center>
					<ul class="pagination">
					    <li><a href="#">«</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">»</a></li>
					</ul>
				</center>
			</div>
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
	</div>
</div>
</body>
</html>
<script type="text/javascript">
	$(document).ready(function(){
    //FANCYBOX
    //https://github.com/fancyapps/fancyBox
    $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
});
   
</script>
<style type="text/css">
	.gallery
{
    display: inline-block;
    margin-top: 20px;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}
</style>