{% include "partials/header.html" %}
<link rel="stylesheet" type="text/css" href="/static/css/bookings.css">

<div class="container">
	<div class="row">
		<section class="content">
			<h1>BOOKING LIST</h1>
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body" id="myView">
						<div class="table-container">
							<table class="table table-filter">
								<tbody>
									<tr data-status="pagado"data-toggle="modal" data-target="#myModal">
										
										<td>
											<div class="media">												
												<div class="media-body">
													<span class="media-meta pull-right">
													<h5>Febrero 13, 2016</h5></span>
													<h5 class="title">
														Kimsal San
													</h5>
													<p class="summary hidden-xs ">
														kimsalsan@gmail.com
													</p>

												</div>
											</div>
										</td>
										<td>
										
										</td>
									</tr>									
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="content-footer">
					
				</div>
			</div>
		</section>
	<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		       <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>
		      <div class="modal-body">
		       	<p>Title:Koh Kong</p><br/>
		       	<p>Choosen Booking:From 2/2/20010 To 3/3/2019</p><br/>
		       	<p>Comment: What is your goal?</p><br/>
		       	<p></p>
		      </div>
		      <div class="modal-footer">
		      </div>
		    </div>

		  </div>
		</div>
	<!--end Modal-->
		
	</div>
</div>