{% include "partials/header.html" %}
<div class="container">
   <!--  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default" style="padding: 0px; margin: 0px;">
            <div class="panel-body"><center><a href="#" style="font-weight: bold"> A Basic Panel</a></center></div>
        </div>
    </div> -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="wrap">
        {% for tour in tours %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 25px;">
                <div class="hovereffect">
                    <a href="{% url 'single' tour.slug %}">
                        {% if tour.feature_image == none %}
                            <img class="img-responsive" src="/static/images/notfound.png" alt="">
                        {% else %}
                            <img class="img-responsive" src="/{{tour.feature_image}}" alt="">
                        {% endif %}
                        <div class="overlay">
                            <h2>{{tour.title}}</h2>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
<script type="text/javascript">
var scrollid=15;
var tour;
var html='';
var slug="{{slug}}";
function yHandler(){
    var wrap = document.getElementById('wrap');
    var contentHeight = wrap.offsetHeight;
    var yOffset = window.pageYOffset; 
    var y = yOffset + window.innerHeight;
    if ((window.innerHeight + window.scrollY)+300 >= document.body.scrollHeight) {
        $.ajax({
          type: "GET",
          url: "/scrollCategory/"+slug+"/"+scrollid+"/",
            success: function(response) {
                tours=JSON.parse(response);
                console.log("result "+scrollid+"= "+response);
                for(var i=0;i<tours.length;i++) {
                    if(tours[i].fields.feature_image=='')
                        html="<div class='col-lg-4 col-md-4 col-sm-6 col-xs-12' style='margin-top: 25px;'><div class='hovereffect'><a href='/"+tours[i].fields.slug+"'><img class='img-responsive' src='/static/images/notfound.png' alt=''><div class='overlay'><h2>"+tours[i].fields.title+"</h2></div></a></div></div>";
                    else
                        html="<div class='col-lg-4 col-md-4 col-sm-6 col-xs-12' style='margin-top: 25px;'><div class='hovereffect'><a href='/"+tours[i].fields.slug+"'><img class='img-responsive' src='/"+tours[i].fields.feature_image+"' alt=''><div class='overlay'><h2>"+tours[i].fields.title+"</h2></div></a></div></div>";

                    wrap.innerHTML+=html;
                }
            }
        });
        scrollid=scrollid+6;
    }
}
window.onscroll = yHandler;
</script>
<br/></br/>
</body>
</html>