{% include "partials/header.html" %}

<div class="banner1">
    <center style="color:white;line-height: 300%;">
        <label style="color:#e4e3e3;">
            We want you to spend less on office rent and to stop.
        </label>
        <a href="/contact">
            <button style="background: none;color: white;" class="btn btn-default"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                Contact
            </button>
        </a>
    </center>
</div>
<!--scroll menu top fix-->
<script type="text/javascript">
    $(window).scroll(function(){
        var banner1 = $('.banner1'),
                scroll = $(window).scrollTop();
        if (scroll >=40) banner1.addClass('myfix');
        else banner1.removeClass('myfix');
    });
</script>
<!--end scroll menu top-->
<div class="banner2" style='background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("/static/images/backhead1.png");'>
    <center>
        <label class="boxbanner" >
            Welcome To Toursanak
        </label>
        <br/>
        <label style="color: #d7d7d7;font-size: 20px;">Cambodian Tour</label>
    </center>
</div>
<br>
<div class="container">
    <div class="col-xs-12 col-md-8 col-sm-8 col-lg-8">
        <center>
           {% for message in messages %}
                {% if 'error' in message.tags %}
                    <div class="alert alert-danger">
                      Error !!{{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-success">
                      {{ message }}
                    </div>
                {%endif%}   
            {% endfor %}
        </center>
        <div class="form-area">
            <form role="form" name="ContactForm" method="POST" action="/createContact/">
                {% csrf_token %}
                <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">How can they reach you?</h3>
                <br style="clear:both">
                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    {{ frm.contactName }}
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    {{ frm.contactEmail }}
                </div>
                <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Do you have any questions or requests? </h3>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     {{ frm.contactDescription }}

                </div>
                <center>
                <button type="submit" id="submit" name="submit" class="btn btn-primary">
                    Send Request
                </button>
                <input type="reset" value="Reset" class="btn btn-default ">
                </center>
            </form>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">
    <br/>
        <div class = "list-group">
                    <div  class = "list-group-item active">
                        <h4 class = "list-group-item-heading">
                            More Information
                        </h4>
                    </div>
                    <div class="list-group-item">
                        <h4 class = "list-group-item-heading">
                        <i style="font-size:20px;" class="fa fa-map-marker" aria-hidden="true"></i>
                            Address:
                        </h4>
                        <p class = "list-group-item-text">
                            #17, Street 604, Toul Kok, Phnom Penh
                        </p>
                    </div>
                    <div href = "#" class = "list-group-item">
                        <h4 class = "list-group-item-heading"><i style="font-size:20px;" class="fa fa-phone" aria-hidden="true"></i>Phone:</h4>
                        <p class = "list-group-item-text">  855-70-453-236</p>
                    </div>
                    <div href = "#" class = "list-group-item">
                        <h4 class = "list-group-item-heading"><i style="font-size:20px;" class="fa fa-envelope-o" aria-hidden="true"></i>Email:</h4>
                        <p class = "list-group-item-text">toursanak@gmail.com</p>
                    </div>
                   
                </div>
    </div>
</div>
<!-- The scroll to top feature -->
    
<div class="scroll-top-wrapper ">
  <span class="scroll-top-inner">
    <i class="fa fa-2x fa-arrow-circle-up"></i>
  </span>
</div>
<!--end scroll to top-->
<br/><br/>
<div style="height:100px;"></div>
</body>
</html>