
{% include "partials/header.html" %}
<!--start container-->
    <div class="container">
        <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >-->
            <!--<div class="panel panel-default" style="padding: 0px; margin: 0px;">-->
                <!--<div class="panel-body">-->
                    <!--<center><a href="#" style="font-weight: bold"> A Basic Panel</a></center>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
             {% for tour in tours %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 25px;">
                    <div class="hovereffect">
                        <a href="{% url 'single' tour.slug %}">
                        {% if tour.feature_image == none %}
                          <img class="img-responsive " src="/static/images/notfound.png" alt="">
                        {% else %}
                             <img class="img-responsive " src="/{{tour.feature_image}}" alt="">
                         {%endif%}   
                        <div class="overlay">
                            <h2>{{tour.title}}</h2>
                        </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div> 
</body>
</html>
