{% include "partials/header.html" %}
<!--start container-->
<div class="banner1">
    <center style="color:white;line-height: 300%;">
        <label style="font-family: font-family: 'PT Serif',serif;">
            Learn and experience mangrove reforestation
        </label>
        <a href="/contact">
            <button style="background: none;color: white;" class="btn btn-default"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                Contact
            </button>
        </a>
    </center>
</div>
<!--scroll menu top fix-->
<script type="text/javascript">
    $(window).scroll(function(){
        var banner1 = $('.banner1'),
                scroll = $(window).scrollTop();
        if (scroll >=40) banner1.addClass('myfix');
        else banner1.removeClass('myfix');
    });
</script>
<!--end scroll menu top-->
{% for tour in tours %}
    {% if tour.banner == '' %}  
        <div class="banner2" style='background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("/static/images/banner_none.jpg");'>
                <center>
                    <label class="boxbanner" >
                        {{ tour.title }}
                    </label>
                    <br/>
                    <label style="color: #ffffff;font-size:30px;font-family: 'PT Serif',serif;">
                         {{tour.short_description}}
                    </label>
                </center>
        </div>
    {% else %}
        <div class="banner2" style='background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("/{{tour.banner}}");'>
                <center>
                    <label class="boxbanner" >
                        {{ tour.title }}
                    </label>
                    <br/>
                    <label style="color: #ffffff;font-size:30px;    font-family: 'Playfair Display', serif;">
                        {{tour.short_description}}
                    </label>
                </center>
        </div>

    {% endif %}

<br>
<div class="container">
    <!--desciption-->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="descript">
                {{ tour.description }}
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel with-nav-tabs panel-default" style="border: none">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1default" data-toggle="tab">
                        Map
                        </a></li>
                        {% for tab in tabhead %}
                        <li><a href="#tab{{tab.id}}default" data-toggle="tab">{{tab.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <script type="text/javascript">
                    var html='';    
                    var arr_check=[];            
                </script>
                <div class="panel-body" style="padding:0px;">
                    <div class="tab-content" id="tab_content">
                        <div class="tab-pane fade in active" id="tab1default">
                        <br/>
                            <p class="descript" id="map">
                                {{tour.map}}
                            </p>
                            <script type="text/javascript">
                                document.getElementById('map').innerHTML=document.getElementById('map').innerHTML.replace('&gt;','>').replace('&lt;','<').replace('width="600"','').replace('height="450"','').replace('style="border:0"','style="border:0;width:100%;"');
                            </script>
                        </div>
                        {% for tab in tabs %}
                            <script type="text/javascript">
                                html="";
                                //alert("{{tab.id}}:{{tab.title}}:{{tab.ttitle}}")
                                if(arr_check.indexOf("{{tab.id}}")>-1){
                                    html='<tr><td>{{tab.ttitle}}</td><td>{{tab.description}}</td></tr>';
                                    document.getElementById('tab_row_{{tab.id}}').innerHTML+=html;
                                }
                                else{
                                   //alert("else");
                                    html='<div class="tab-pane fade" id="tab{{tab.id}}default"><p class="descript"><table class="table borderless"><tbody id="tab_row_{{tab.id}}"><tr><td>{{tab.ttitle}}</td><td>{{tab.description}}</td></tr></tbody></table></p></div>';
                                    document.getElementById('tab_content').innerHTML+=html;
                                }
                                arr_check.push("{{tab.id}}");
                            </script>
                            <div class="tab-pane fade" id="tab2default">
                                <p class="descript">
                                   <table class="table borderless">
                                        <tbody>
                                          <tr>
                                            <td>John</td>
                                            <td>john@example.com</td>
                                          </tr>
                                        </tbody>
                                    </table>
                                </p>
                            </div>
                        {% endfor %} 
                    </div>
                </div>
            </div>
        </div>

        <!--tab-->
        <!--tab-->
    </div>
    <!--end description-->

    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!--slide-->
            <!-- Carousel -->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
                <!-- Indicators -->
                <ol class="carousel-indicators" id="point_slide">
                   <!--  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" style="border-radius: 3px;" id="slide_image">
                    
                        <!--slide is here-->
                </div>
                <script type="text/javascript">
                        var images="{{tour.imagename}}".split(',');
                        for(var i=0;i<images.length;i++){
                            //alert(images[i]);
                            if(i==0)
                                document.getElementById('slide_image').innerHTML+='<div class="item active"><img src="/'+images[i]+'" alt="NO" style="height:220px;"><div class="header-text hidden-xs"><div class="col-md-12 text-center"><br><br></div></div></div>';
                            else
                                document.getElementById('slide_image').innerHTML+='<div class="item"><img src="/'+images[i]+'" alt="NO" style="height:220px;"><div class="header-text hidden-xs"><div class="col-md-12 text-center"><br><br></div></div></div>';
                            document.getElementById('point_slide').innerHTML+='<li data-target="#carousel-example-generic" data-slide-to="'+i+'" class="active"></li>';
                        }
                    </script>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"  style="font-size: 13px;"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" style="font-size: 13px;"></span>
                </a>
            </div><!-- /carousel -->
            <!--end slide-->
        </div>
        <!--booking-->
        {% for schedule in schedules %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="/{{tour_id}}/{{ schedule.id }}/booking/" >
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 package-box"style="width: 100%;">
                    <center>
                        <h4 style="color: #ffffff;font-weight: bold;">
                            From:{{schedule.start_date}}
                            
                            To:{{schedule.end_date}}
                        </h4>
                    </center>
                    <center>
                    <p style="color: #ffffff;font-weight: bold;">
                        <b>
                            ${{ schedule.price }}
                        </b>
                              <span> /
                                 person<i style="font-size:20px;text-indent: 15px;" class="fa fa-calendar-check-o" aria-hidden="true"></i>
                              </span>
                    </p>
                    </center>
                </div>
            </a>
        </div>
         {% endfor %}

        <!--end booking-->
        <!--start similar tour-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 style="font-family: 'Playfair Display', serif;">
           <center style="font-web:bold;line-height: 50px;"> Similar Tour</center>
        </h4>
        </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               {% for related in related_posts %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " style="padding:0px;" >
                    <div class="hovereffect thumbnail ">
                        <a href="{% url 'single' related.slug %}">
                        {% if related.feature_image == none %}
                            <img class="myimg img-responsive mythumnail1" src="/static/images/notfound.png" alt="">
                            <div class="overlay">
                                <h2>{{ related.title }}</h2>
                            </div>
                        {% else %}
                             <img class="myimg img-responsive" src="/{{related.feature_image}}" alt="">
                                <div class="overlay">
                                    <h2 style="font-size:12px;font-weight:bold;">{{ related.title }}</h2>
                                </div>
                       {%endif%} 
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        <!--end similar tour-->
    </div>
    <!--feature image-->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 style="padding: 0;margin-left: 15px; font-family: 'Playfair Display', serif;">Featured Trips</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {% for related in related_footer %}

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 25px;">
            {% if related.feature_image == none %}
                <div class="hovereffect">
                    <a href="{% url 'single' related.slug %}">
                        <img class="img-responsive myimg" src="/static/images/notfound.png" alt="">
                        <div class="overlay">
                            <h2>{{ related.title }}</h2>
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="hovereffect">
                    <a href="{% url 'single' related.slug %}">
                        <img class="img-responsive myimg" src="/{{related.feature_image}}" alt="">
                        <div class="overlay">
                            <h2>{{ related.title }}</h2>
                        </div>
                    </a>
                </div>

            {% endif %}
        </div>
    {% endfor %}
    </div>
{% endfor %}
</div>
<!-- The scroll to top feature -->
    
<div class="scroll-top-wrapper ">
  <span class="scroll-top-inner">
    <i class="fa fa-2x fa-arrow-circle-up"></i>
  </span>
</div>
<!--end scroll to top-->
<div style="height:50px;"></div>
</body>
</html>

